name: Build and Push Docker Image

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PAT }}" | docker login -u fighterkeshav7 --password-stdin

      - name: Build and push unified image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            fighterkeshav7/rewear:latest
            fighterkeshav7/rewear:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
